/* Auther = Haseeb Alam Rafiq */

html, body {
  margin: 0px;
  padding: 0px;
  background-color: #f50057;

}


.reactdiv {
  background-color: #f50057;
  
}
.wrapper {
  display: flex;
  text-align: center;
  background-color: #f50057; 
}
.card {
  margin: 0 auto;
  width: 80%;
  background-color: #37474f !important;
  color: #fafafa;
  margin-top: 20px !important;
  border-top: none !important;
}
.card-header {
  background-color: #37474f !important;
  color: #fafafa;


}
.card-body {
  background-color:#37474f !important;
  color: #fafafa;
}
.additembn {
  width: 100%;
}
.deleteallbn {
  width: 100%;
}
.inputaddtodo {
  width: 100%;
  color: #fafafa !important;
  border-bottom: #f50057 solid !important;
  border-radius: 5% !important;
  border-bottom-width: 2px !important;
}
.inputaddtodo label {
  color: #fff;
}


.todolistmaindiv {
  margin: 0 auto;
  background-color: #37474f !important;
  color: #fafafa;
}

Icon {
  color: #fafafa !important;
}
#outlined-secondary {
  color: #fafafa !important;
  border-bottom:  #fafafa !important;
}



@media only screen and (max-width: 400px) and (min-width: 300px){
  .card {
    width: 100%;
  }
  .inputaddtodo {
    width: 100%;
  
  }
  
  .additembn {
    width: 100%;
  }
  .deleteallbn {
    width: 100%;
  }
}